html, body {
    height: 100%;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-size:auto,auto;
    background-position:top left, center;
    background-repeat:no-repeat;
}

h3 {
    font-size: 4vw;
}

.col-12 {
    text-align: center;
}

.col-6 {
    text-align: center;
}

.row {
    padding-top: 24px;
    padding-bottom: 24px;
}

#time_waiting p {
    font-size: 2vw;
}

#select_list_of_lines {
    font-size: 1em;
}

label {
    font-size: 1.5em;
}

#select_first_stop_list {
    font-size: 0.8em;
}

#select_second_stop_list {
    font-size: 0.8em;
}